@model List<PatientNet.Models.Consult>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Observations</th>
            <th>Diagnostic</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var consult in Model)
        {
            <tr>
                <td>@consult.Date</td>
                <td>@consult.Observations</td>
                <td>@consult.Diagnostic</td>
            </tr>
        }
    </tbody>

</table>

<a asp-action="Index" class="btn btn-danger">Go back</a>