@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <strong>PatientNet</strong></h1>
    <p> The software management for your clinic</p>
    
    <!--Menu-->
    <table class="table table-borderless">
        <tr>
            <td>
                <a class="btn btn-dark text-white shadow w-25" asp-area="" asp-controller="Patients" asp-action="Index">Patients </a>
            </td>
        </tr>
</table>

    

</div>
